[submodule "vim-sensible"]
	path = vim/pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "nerdtree"]
	path = vim/pack/plugins/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "nerdtree-git-plugin"]
	path = vim/pack/plugins/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
