[submodule "vim-sensible"]
	path = vim/pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "nerdtree"]
	path = vim/pack/plugins/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
